.navbar-brand {
    font-weight: bold;
    display: flex;
    align-items: center; 
}

.navbar-brand img {
    height: 40px;
    margin-right: 0px;
}

.text-group {
    display: flex;
    flex-direction: column;
}

.navbar-brand .umzugs {
    font-size: 1.1 rem;
    line-height: 1.1;
    padding:20px 0px
}

.navbar-brand .service {
    font-size: 0.9em;
    line-height: 1.1;
}

.navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 400px;
}
body {
    background-color: rgba(170, 196, 193, 0.566)
}
footer.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: var(--bs-light, #f8f9fa);
  padding: 0.75rem 0;
  box-shadow: 0 -4px 20px rgba(0,0,0,0.08);
  width: 100%;
  box-sizing: border-box;
}

main, .page-content {
  padding-bottom: calc(3.5rem + env(safe-area-inset-bottom));
}


html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
}

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container, .page-wrapper, .site-wrapper, .main-wrapper {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .container {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

.page, .site-wrapper, .container, body > div[style] {
  transform: none !important;
}

@media (max-width: 1024px) {
  .slideshow-container {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc((100% - 100vw) / 2) !important;
    margin-right: calc((100% - 100vw) / 2) !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

@media (max-width:450px) {
  .navbar-brand .umzugs {
    font-size: 0.9rem;
}
}